<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/fishes/list">Fishes</a></li>
    <li class="breadcrumb-item">Edit</li>
</ol>
<h1 class="display-4">Edit fish</h1>
<form method="POST" action="/fishes/update/<%= fish.id %>">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" value="<%= fish.name %>">
    </div>
    <div class="form-group">
        <label for="min_ph">Minimum pH</label>
        <input type="number" name="min_ph" class="form-control" value="<%= fish.min_ph %>">
    </div>
    <div class="form-group">
        <label for="max_ph">Maximum pH</label>
        <input type="number" name="max_ph" class="form-control" value="<%= fish.max_ph %>">
    </div>
    <div class="form-group">
        <label for="min_l">Minimum volume [l]</label>
        <input type="number" name="min_l" class="form-control" value="<%= fish.min_l %>">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
